%tr
  = form_for [:admin, description] do |t|
    %td= t.check_box :exec_list
    %td= t.check_box :description_text
    %td= t.check_box :contact_information
    %td= t.check_box :events
    %td= description.group.name
    %td= description.description
    %td #{link_to "page", group_path(group)} - #{link_to "edit", edit_group_path(group)}
