%tr
  = form_for [:admin, description] do |t|
    %td= t.check_box :exec_list
    %td= t.check_box :description_text
    %td= t.check_box :contact_information
    %td= t.check_box :events
    %td= description.group.name
    %td= truncate(description.description, :length => 40)
