%tr
  - name = "descriptions[#{description.id}]"
  = fields_for name, description do |f|
    %td= description.created_at.strftime("%b %d")
    %td= link_to description.group.name, group_path(description.group)
    %td.page{:style => "position:relative"}
      = truncate(description.description, :length => 20)
      .popover.below
        .arrow
        .inner
          %h3.title= description.group.name
          .content= description.markdown
    %td
      = hidden_field name, :exec_list
      = check_box_tag "#{name}[exec_list]", "1", description.exec_list
    %td
      = hidden_field name, :description_text
      = check_box_tag "#{name}[description_text]", "1", description.description_text
    %td
      = hidden_field name, :contact_information
      = check_box_tag "#{name}[contact_information]", "1", description.contact_information
    %td
      = hidden_field name, :events
      = check_box_tag "#{name}[events]", "1", description.events

