- content_for :sidebar do
  = render :partial => "sidebar/admin_user"


#user-admin
  #group
    .title
      %h1= "Group Execs"

  .users-table
    = form_tag admin_user_index_path, :method => :post do
      %table#admin-table.table-striped
        %tr
          %th.yellow Confirmed
          %th.blue Blocked
          %th.purple Name
          %th.green Group
        = render :partial => "group_exec", :collection => @group_execs

      .actions.form
        = submit_tag "Submit", :class => "btn primary"

