#checklist
  - description = @description || @new_description
  = semantic_form_for description,  :url => checklist_group_description_index_path(@group), :namespace => 'checklist' do |f|
    = f.inputs do
      = f.input :exec_list, :label => "Exec List", :as => :boolean
      = f.input :description_text, :label => "Description", :as => :boolean
      = f.input :contact_information, :label => "Contact Information", :as => :boolean
      = f.input :events, :label => "Events", :as => :boolean