- content_for :sidebar do
  = render :partial => "sidebar/description"

#group
  .title
    %h1= "Page History"

#history
  - @descriptions.each do |d|
    - if d
      %div{ :class => cycle("page stripe","page nostripe") }
        %span.ui-icon.ui-icon-triangle-1-s{ :style => "float: right; margin-right: 14px; margin-top: 3px;"}
        .header
          %h4= history_title(d)
        .body
          = d.description.try(:html_safe)
          %form{ :method => "post", :action => group_description_index_path }
            = hidden_field_tag 'description', d.description.try(:gsub,"\r\n","\r")
            %input.btn{ :type => "submit", :value => "Revert to this version"}

