- content_for :sidebar do
  = render :partial => "sidebar"


#group
  .title
    %h1= "Page History"

#history
  - @descriptions.each do |d|
    %div{ :class => cycle("page stripe","page nostripe") }
      %span.ui-icon.ui-icon-triangle-1-s{ :style => "float: right; margin-right: 12px; margin-top: 10px;"}
      .header
        %h4= d.created_at.strftime("#{d.user.first_name} -  %b %d at %I:%M%p ")
      .body
        = Redcarpet.new(d.description).to_html.html_safe
        %form{ :method => "post", :action => group_description_index_path }
          = hidden_field_tag 'description', d.description.gsub("\r\n","\r")
          %input.btn{ :type => "submit", :value => "Revert to this version"}

