.topbar-wrapper
  .topbar
    .fill
      .container
        %h3
          %a{ :href => root_path, :style => "padding:10px 10px 11px;  font-size:14px; line-height:19px;" } DGD
        %ul
          %li
            = link_to "Directory", group_index_path
        
        = form_tag(group_index_path, :method => "get") do 
          = hidden_field_tag 'group_id'
          = text_field_tag 'search', nil, :placeholder => "Search"
        %ul.nav.secondary-nav
          %li
            - if current_user
              = link_to "#{current_user.first_name} - Logout", signout_path
            - else
              = link_to "Login", "/auth/cas"
