!!! 5


    %div{ :style => "margin-bottom: 20px; font-size:15px;" } Dartmouth Group Directory
    .search
      = form_tag(group_index_path, :method => "get") do 
        = hidden_field_tag 'group_id'
        = text_field_tag 'search', nil, :placeholder => "Search"
    .links{:style => "font-size:13px;"}
      %ul.pills
        %li
          = link_to 'Directory', group_index_path
        %li
          = link_to "About", about_path
        %li
        - if @current_user.nil?
          %li= link_to "Log In", "/auth/cas"
        - else
          %li= link_to "Log Out", signout_path
