!!! 5


%head
  %title DGD
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "bootstrap-1.1.0.min"
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Bevan"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body

  #splash
    .splash-container{ :style => "padding: 0px 50px 70px; width:550px; height:300px;"}
      %div{ :style => "margin: 0px auto 20px auto; width: 340px;"}
        %div{ :style => "margin: 20px auto; font-size:24px;"}
          .logo{:style => "margin:0px auto; width:80px;"}
            = image_tag "Shodou.png", :width => '80px', :height => '80px'
          .title{:style => "margin:20px auto 0px auto; text; text-align:center;"}
            %span{:style => "color:#38672F;"} Dartmouth 
            %span{:style => "color:#888;"} Group Directory
      .search
        = form_tag(group_index_path, :method => "get") do 
          = hidden_field_tag 'group_id'
          = text_field_tag 'search', nil, :placeholder => "Search"
      .links
        %ul.pills
          %li
            = link_to 'Directory', group_index_path
          %li
          - if @current_user.nil?
            %li= link_to "Log In", "/auth/cas"
          - else
            %li= link_to "Log Out", signout_path
            
      .description{ :style => "text-align:center; margin-top:54px;"}
        %span The DGD is a community resource for student organizations. DGD is sponsored by Student Assembly and affiliated with the Hacker Club. We hope you like it and get involved. 

:javascript
  var groups = #{@group_hash.to_json};