!!! 5


%head
  %title DGD
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "bootstrap-1.1.0.min"
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Bevan"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body

  #splash
    .splash-container
      %div{ :style => "margin: 20px auto 20px auto; width: 220px;"}
        %span{ :style => "font-family: Bevan, serif; font-size: 100px; font-style: normal; font-weight: 400; color: black;" }
          %span{ :style => "color: #38672F; padding: 0px; margin-right: -21px;" }d
          %span{ :style => "margin-bottom: 100px;"}
            gd
        %div{ :style => "margin: 20px auto 20px 30px;"}
          Dartmouth Group Directory
      .search
        = form_tag(group_index_path, :method => "get") do 
          = hidden_field_tag 'group_id'
          = text_field_tag 'search', nil, :placeholder => "Search"
      .links
        %ul.pills
          %li
            = link_to 'Browse', group_index_path
          %li
            %a About
          %li
            = link_to "Log In", "auth/cas"

:javascript
  var groups = #{@group_hash.to_json};