!!! 5


%head
  %title DGD
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "bootstrap-1.1.0.min"
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Andika"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body

  #splash{ :style => "text-align: center;"}
    .splash-container{:class => dev_mode}
      %div{ :style => "margin: 75px auto 20px auto; width: 260px;"}
        %span{ :style => "font-family: Andika, serif; font-size: 80px; font-style: normal; font-weight: 400; color: #333; text-shadow: 2px 2px 2px #999" }
          %span{ :style => "color: #38672F; padding: 0px; margin-right: -23px;" }D
          %span{ :style => "margin-bottom: 100px;"}
            GD

      %div{ :style => "margin-bottom: 20px; font-size:15px;" } Dartmouth Group Directory
      .search
        = form_tag(group_index_path, :method => "get") do 
          = hidden_field_tag 'group_id'
          = text_field_tag 'search', nil, :placeholder => "Search"
      .links{:style => "font-size:13px;"}
        %ul.pills
          %li
            = link_to 'Directory', group_index_path
          %li
            = link_to "About", about_path
          %li
          - if @current_user.nil?
            %li= link_to "Log In", "/auth/cas"
          - else
            %li= link_to "Log Out", signout_path

:javascript
  var groups = #{Group.all.map {|g| {:label => g.name, :value => g.name, :id => g.id}}.to_json};
