#splash
  #progress-alert.alert.alert-info
    %h2
      %span
        DGD is 
        %span{ :style => "color: #62C462;"} #{@progress}%
        complete
      .progress.progress-striped.progress-success
        .bar{:style => "width:#{@progress}%;"}
    %h3
      - if @current_user.present?
        Search your group below to add a page!
      - else
        = link_to "Login to add your group's page!", signin_path
  .splash-container{:class => dev_mode}
    %div{ :style => "margin: 75px auto 20px auto; width: 260px;"}
      %span{ :style => "font-family: Andika, serif; font-size: 80px; font-style: normal; font-weight: 400; color: #333; text-shadow: 2px 2px 2px #999" }
        %span{ :style => "color: #38672F; padding: 0px; margin-right: -23px;" }D
        %span{ :style => "margin-bottom: 100px;"}
          GD

    %div{ :style => "margin-bottom: 20px; font-size:15px;" } Dartmouth Group Directory
    .search
      = form_tag(group_index_path, :method => "get") do
        = hidden_field_tag 'group_id'
        = text_field_tag 'search', nil, :placeholder => "Search"
    .links{:style => "font-size:13px; padding-left: 28px;"}
      %ul.nav.nav-pills
        %li
          = link_to 'Directory', group_index_path
        %li
          = link_to "About", about_path
        %li
        - if @current_user.nil?
          %li= link_to "Login", signin_path
        - else
          %li= link_to "Logout", signout_path
