- content_for :sidebar do
  = render :partial => "sidebar/admin_category"


#user-admin
  #group
    .title
      %h1= "Categories"
  .categories-table
  = form_tag admin_category_index_path, :method => :post do
    %table#admin-table.table.table-striped
      %thead
        %tr
          %th.yellow{:width => "50"} Delete
          %th.blue Category
          %th.red{:width => "70px"} # Groups
          %th.red{:width => "70px"} # Pages
      = render :partial => "category", :collection => @categories

    .actions.form
      = submit_tag "Submit", :class => "btn primary"
