- content_for :sidebar do
  = render :partial => "sidebar/directory"


#directory
  #group
    .title
      %h1= "Directory"

  - unless @groups.present?
    - unless @category.present?
      .expand
        %ul.nav.nav-pills{ :style => "float: right; cursor: pointer;" }
          %li
            %a.expand_all Expand All
          %li
            %a.collapse_all Collapse All
    .categories{ :style => "margin-top: 65px;"}
      - if @category.present?
        .category.category_nostripe
          %h4.category_headerr{ :id => @category.id}= @category.primary_category
          .groups_container{ :style => "display:block;"}
            - @sub_categories.each do |sub_category, groups|
              %h5.category_sub_header= sub_category.sub_category
              %ul.groups_list
                - groups.each do |group|
                  %li= link_to group.name.sub(/Dartmouth /,"").truncate(40), group_path(group), {:style => add_color(group)}
      - else
        - if params[:search].present?
          .search-result-found
            No search results found for
            %b
              = "#{params[:search]}"
        - @categories.each_with_index do |x, i|
          - primary_category, sub_categories, groups = x
          - category_id = primary_category.gsub(" ","").gsub(/[^[:alnum:]]/, '')
          .category{ :class => i % 2 == 0 ? "category_nostripe" : "category_stripe" }
            %h4.category_header{ :id => category_id}= primary_category
            %span.ui-icon.ui-icon-triangle-1-s{ :style => "float: right; margin-right: 10px; margin-top: -25px;"}
            .groups_container{ :id => primary_category.gsub(" ","").gsub(/[^[:alnum:]]/, '') }
              - sub_categories.each do |sub_category, groups|
                %h5.category_sub_header= sub_category.sub_category
                %ul.groups_list
                  - groups.each do |group|
                    %li= link_to display_name(group), group_path(group), {:style => add_color(group)}

  - else
    .search-result-found
      Showing
      %b
        = "#{@groups.length}"
      search results for
      %b
        = "#{params[:search]}"
    %table.table-striped.search-results
      - @groups.each do |group|
        %tr
          %td= link_to group.name, group_path(group)
