- content_for :sidebar do
  = render :partial => "sidebar/group"

#group
  .title
    - size = @group.name.length < 20 ?  75 : 45
    %h1{:style => "font-size:#{size}px; line-height:#{size+10}px;"}= @group.name

  #description
    .body
      - if current_user.present? || @description.description == Description.default_description
        = @description.description.try(:html_safe)
      - else
        = @clean_description

    .info
    - if @description.description != Description.default_description
      - if current_user.present?
        .action_links
          %span= link_to "Edit", new_group_description_path(@group, @description) unless @group.locked
          %span= link_to "History", group_description_index_path(@group)
          %span= link_to flag_text, group_description_flag_path(@group,@description), :method => 'post'
      - else
        .action_links
          %span= link_to "Login to interact with this page", signin_path
      %div{ :style => "margin-top: 20px;"}
        Last updated on #{@description.created_at.strftime("%b %d")} by #{@description.user.try(:name)} <br />
        - if @group.contributors.length > 0
          contributors: #{@group.contributors.join(", ")}

    - elsif current_user.present?
      .actions.form
        %a{:href => new_group_description_path(@group, @description)}
          = submit_tag "Add Page", :class => "btn primary"
    - else
      .actions.form
        %div= link_to "Login to create a page for this group", signin_path
