!!! 5

%head
  %title DGD
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  
  #header
    .content
      %input{:type => "text"}
      %h1 Dartmouth Group Directory
      #user_nav
        = link_to "Sign in", "/auth/cas"
      .clear
  
  #body
    .content
      #left_sidebar
        = yield :sidebar
      #main_content
        = yield
      .clear
    
:javascript
  var groups = #{@group_hash.to_json};