!!! 5

%head
  %title= page_title
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "bootstrap-1.1.0.min"
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Bevan"
  = stylesheet_link_tag    "jquery-ui-1.8.13.custom.css"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  
  = render :partial => "shared/header"
  .container
    .row
      .span12.columns
        = yield
        
      .span4.columns
        .sidebar-info-box
          .sidebar-header
            %h3.title Dartmouth Group Directory
          .sidebar-content
            %p Welcome to the Dartmouth Group Directory, where your dreams come true. For real. This site is actually amazing beyond all belief.
        .sidebar-info-box
          .sidebar-header
            %h3.title Recently Updated
          .sidebar-content
            - Group.recently_updated(5).each do |group|
              =link_to group.name, group_path(group)
        .sidebar-info-box
          .sidebar-header
            %h3.title Leaderboard
          .sidebar-content
            %ol.leaderboard
              - Leaderboard.query.second[0..4].each do |individual|
                %li= individual[1]
              

  #footer

:javascript
  var groups = #{@group_hash.to_json};
  