!!! 5

%head
  %title= page_title
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Andika"

  = javascript_include_tag "application"
  = csrf_meta_tags

%body

  = render :partial => "shared/header"
  .container
    .row
      .span9
        = yield

      .span3
        = yield :sidebar

  #footer
    .container
      .row
        %ul.nav.nav-pills.pull-left
          %li= link_to "About", about_path
          %li= link_to "License", "https://github.com/jasonLaster/DGD/blob/master/LICENSE"
          %li= link_to "Source", "https://github.com/jasonLaster/DGD"
        %span.pull-right{:style=>"padding-top:10px"} ©2012 Dartmouth Group Directory
      .row
        %span.pull-right.build-number= "Build number #{version_number}"

    = debug(params) if Rails.env.development?




:javascript
  var groups = #{Group.all.map {|g| {:label => g.name, :value => g.name, :id => g.id}}.to_json};
  var categories = #{Category.all.map {|c| {:label => c.category, :value => c.category, :id => c.id}}.to_json};

  // Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25681508-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  // Intercom Settings
  var intercomSettings = {
      app_id: 'h6b19gjf',
      email: #{(current_user.try(:email) || current_user.try(:name) || anonymous_name).inspect},
      created_at: #{current_user.try(:created_at).try(:to_time).try(:to_i) || Time.now.to_i},
      custom_data: {
        'anonymous': #{current_user.nil?.inspect}
      }
    };
    (function() {
      function async_load() {
        var s = document.createElement('script');
        s.type = 'text/javascript'; s.async = true;
        s.src = 'https://api.intercom.io/api/js/library.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (window.attachEvent) {
        window.attachEvent('onload', async_load);
      } else {
        window.addEventListener('load', async_load, false);
      };
    })();