!!! 5

%head
  %title DGD
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  
  #header
    .content
      = form_tag(group_index_path, :method => "get") do 
        = hidden_field_tag 'group_id'
        = text_field_tag 'search'
        = submit_tag  "search"
      %h1 Dartmouth Group Directory
      #user_nav
        - if current_user
          = link_to "Logout, #{current_user.name}", signout_path
        - else
          = link_to "Login", "/auth/cas"
      .clear
  
  #body
    .content
      #left_sidebar
        = yield :sidebar
      #main_content
        = yield
      .clear
      #footer 
    
:javascript
  var groups = #{@group_hash.to_json};
  