!!! 5

%head
  %title DGD
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "bootstrap-1.1.0.min"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  
  .topbar-wrapper
    .topbar
      .fill
        .container
          %h3
            =link_to 'DGD', root_path

          = form_tag(group_index_path, :method => "get") do 
            = hidden_field_tag 'group_id'
            = text_field_tag 'search', nil, :placeholder => "Search"
          %ul.nav.secondary-nav
            %li
              %a{ :href => "#"}
                Updated
            %li
              %a{ :href => "#"}
                Leaderboards
            %li.menu
              %a.menu{ :href => "#" }
                Actions
              %ul.menu-dropdown
                %li   
                  - if current_user
                    = link_to "Logout #{current_user.name}", signout_path
                  - else
                    = link_to "Login", "/auth/cas"
                %li.divider
                %li
                  %a{ :href => "#"}
                    Another Link

  .container-fluid
    .sidebar
      .sidebar-info-box
        .sidebar-header
          %h3.title Dartmouth Group Directory
        .sidebar-content
          %p Welcome to the Dartmouth Group Directory, where your dreams come true. For real. This site is actually amazing beyond all belief.
      .sidebar-info-box
        .sidebar-header
          %h3.title Recently Updated
        .sidebar-content
          - Group.recently_updated(5).each do |group|
            =link_to group.name, group_path(group)
      .sidebar-info-box
        .sidebar-header
          %h3.title Leaderboards
        .sidebar-content
          %p Welcome to the Dartmouth Group Directory, where your dreams come true. For real. This site is actually amazing beyond all belief.

    .content
      = yield
    
:javascript
  var groups = #{@group_hash.to_json};
  