!!! 5

%head
  %title DGD
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "bootstrap-1.1.0.min"
  = stylesheet_link_tag    "jquery-ui-1.8.13.custom.css"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  
  .container
    .row
      = yield
        

:javascript
  var groups = #{@group_hash.to_json};
