!!! 5

%head
  %title DGD
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    "bootstrap-1.1.0.min"
  = stylesheet_link_tag    "jquery-ui-1.8.13.custom.css"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  
  .container
    .row
      = yield
        

:javascript
  var groups = #{Group.all.map {|g| {:label => g.name, :value => g.name, :id => g.id}}.to_json};
  var categories = #{Category.all.map {|c| {:label => c.category, :value => c.category, :id => c.id}}.to_json};

  // Google Analyt
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25681508-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();