!!! 5

%head
  %title= page_title
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body

  .container
    .row
      = yield


:javascript
  var groups = #{Group.all.map {|g| {:label => g.name, :value => g.name, :id => g.id}}.to_json};
  var categories = #{Category.all.map {|c| {:label => c.category, :value => c.category, :id => c.id}}.to_json};

  // Google Analyt
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25681508-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  var intercomSettings = {
      app_id: 'h6b19gjf',
      email: 'jason.laster.11@gmail.com',
      created_at: 315532800
    };
    (function() {
      function async_load() {
        var s = document.createElement('script');
        s.type = 'text/javascript'; s.async = true;
        s.src = 'https://api.intercom.io/api/js/library.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (window.attachEvent) {
        window.attachEvent('onload', async_load);
      } else {
        window.addEventListener('load', async_load, false);
      };
    })();